# Packages
__pycache__

# Unit test / coverage reports
.coverage
.pytest_cache
.mypy_cache
.nox

# Log files
*.log

# Environment vars files
.env

# Pyenv
.python-version

# Environment directories
.venv/

# To do
.todo

# Sphinx documentation
docs/_build/
docs/generated/

# Linter/formatter
.ruff_cache/

# OS specific
.DS_Store

.vscode/
