# Packages
__pycache__

# Unit test / coverage reports
.coverage
.pytest_cache
.mypy_cache
.nox

# Log files
*.log

# Environment vars files
.env

# Pyenv
.python-version

# To do
.todo

# Sphinx documentation
docs/_build/
docs/generated/

# OS specific
.DS_Store

.vscode/
