[tool.poetry]
name = "owimetadatabase-preprocessor"
version = "0.5.5"
description = "Package for preprocessing data from owimetadatabase."
authors = ["arsmlnkv <melnikov.arsene@gmail.com>"]
readme = "README.md"
homepage = "https://owi-lab.github.io/owimetadatabase-preprocessor/"
repository = "https://github.com/OWI-Lab/owimetadatabase-preprocessor"
license = "Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License"
keywords = ["owimetadatabase"]


[tool.poetry.dependencies]
# Main and dev dependencies are separated but dev dependencies are not grouped 
# and put into optional to fascilitate pip usage. 
# Main dependencies
python = ">=3.8, <3.12"
plotly = "^5.12.0"
requests = "^2.28.0"
matplotlib = "^3.6.0"
numpy = "^1.24.0"
pandas = ">=1.5.0, <3.0.0"
groundhog = "^0.11.0"
pyproj = "^3.5.0"
scipy = "^1.10.0"
python-dotenv = "*"


# Development dependencies
pytest = { version = "^7.3.0", optional = true }
pytest-mock = { version = "*", optional = true }
pytest-xdist = { version = "*", optional = true }
pytest-clarity = { version = "*", optional = true }
pytest-cov = { version = "*", optional = true }

requests-mock = { version = "*", optional = true }

isort = { version = "^5.11.0", optional = true }
black = { version = "^22.8.0", optional = true }

flake8 = { version = ">=5.0.0", optional = true }

mypy = { version = "^0.990", optional = true }

pandas-stubs = { version = "*", optional = true }
types-requests = { version = "*", optional = true }
pytest-stub = { version = "*", optional = true }
types-colorama = { version = "*", optional = true }
types-Pygments = { version = "*", optional = true }
types-setuptools = { version = "*", optional = true }

nox = { version = "^2023.4.22", optional = true }
pre-commit = { version = "*", optional = true }

pydocstyle = { version = "*", optional = true }
sphinx = { version = "^6.0.0", optional = true }
sphinx_rtd_theme = { version = "*", optional = true }

bump2version =  { version = "^1.0.1", optional = true }


[tool.poetry.extras]
dev = ["pytest", "pytest-mock", "pytest-xdist", "pytest-clarity", "pytest-cov", "requests-mock",
    "isort", "black", "flake8",
    "mypy", "pandas-stubs", "types-requests", "pytest-stub", "types-colorama", "types-Pygments", "types-setuptools",
    "nox", "pre-commit",
    "pydocstyle", "sphinx", "sphinx_rtd_theme",
    "bump2version"]


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
