name: Build and deploy documentation

on:
  push:
    tags:
      - 'v*'

permissions: write-all 

jobs:
  build-deploy:
    environment:
      name: github-pages-docs
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python "3.12"
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: "3.12"
        enable-cache: true
        cache-python: true
    - name: Install dependencies
      run: uv sync --all-extras
    - name: Build documentation
      run: |
        cd docs
        uv run make html
    - name: Setup Pages
      uses: actions/configure-pages@v5
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: './docs/_build/html'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4

  deploy-package:  
    needs: [build-deploy]
    uses: ./.github/workflows/publish.yml
    secrets: inherit
  
  release:  
    needs: [deploy-package]
    uses: ./.github/workflows/release.yml
    secrets: inherit
