name: Tagged release

on:
  workflow_call:

jobs:
  tagged-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: marvinpinto/action-automatic-releases@latest
      name: Build & test
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
          LICENSE